<?xml version="1.0" encoding="utf-8"?>


<configuration>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-Instance">
		<targets>
			<target xsi:type="Console" name="logConsole" layout="${message}"/>
			<target xsi:type="File" name="logFile" fileName="D:\\temp2\\MDDS_DATA\\ALL_OUTPUT_DAT\\${shortdate}-log.txt" layout="${message}" />
			<target xsi:type="File" name="logFileException" fileName="D:\\temp2\\MDDS_DATA\\ALL_OUTPUT_DAT\\error-${shortdate}.txt" layout="${message}" />
		</targets>
		<rules>
			<rule name="*" minlevel="Trace" maxlevel="Warning" writeTo="logConsole,logFile" />
			<rule name="*" minlevel="Error" writeTo="logFileException" />
		</rules>
	</nlog>
</configuration>