<?xml version="1.0" encoding="utf-8"?>


<configuration>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-Instance">
		<targets>
			<target xsi:type="Console" name="logConsole" layout="${message}"/>
			<target xsi:type="File" name="logFile" fileName="${basedir}/Logs/${shortdate}-log.txt" layout="${message}" />
		</targets>
		<rules>
			<rule name="*" minlevel="Trace" writeTo="logConsole,logFile" />
		</rules>
	</nlog>
</configuration>